@charset "UTF-8";
.searchtitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.searchjumbo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}
.searchjumbo p {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.worktype {
    display: inline-block;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-right: 20px;
}
.firstcondition {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}
.searchjumbo ul {
    list-style: none;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 0;
}
.searchjumbo ul li {
    display: inline-block;
    color: black;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 5.555%;
    box-sizing: border-box;
    padding: 6px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgb(100, 97, 255);
    cursor: pointer;
}
.searchjumbo ul li:hover {
    border-top: 1px solid rgb(140, 203, 255);
    border-left: 1px solid rgb(140, 203, 255);
    border-right: 1px solid rgb(140, 203, 255);
    border-bottom: 1px solid transparent;
    color: rgb(140, 203, 255);
}
.localtext {
    display: inline-block;
    width: 100%;
}
.localtext:hover {
    font-weight: bold;
    animation: shake 0.25s 1;
}
.localclick {
    font-weight: bold;
    border: 1px solid rgb(100, 97, 255) !important;
    border-bottom: 1px solid transparent !important;
    color: blue !important;
}
hr {
    margin: 0 10px 10px 10px;
    padding: 1px 0;
    border: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    clear: both;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform:  rotate(-5deg); }
    100% { transform:  rotate(0deg); }
  }
.submitdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitp {
    margin: 0;
    padding: 3px 30px !important;
    text-align: center;
    color: white;
    background-color: rgb(79, 164, 255);
    border-radius: 15px;
    cursor: pointer;
}
.submitp:hover {
    background-color: rgb(0, 123, 255);
}
.listbox {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: space-around;
}
.listitem {
    background-color: white;
    display: inline-flex;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(192, 192, 192);
    border-radius: 25px;
}
.listitem p {
    margin: 0;
    padding: 5px 0;
}
.imgdiv {
    display: inline-block;
    padding: 0 20px;
    margin: 20px 0;
    border-right: 1px solid rgb(209, 209, 209);
}
.desdiv {
    display: inline-block;
    text-align: left;
    padding: 0 20px;
    width: 210px;
}
.userinfo {
    display: inline-block;
    padding: 0;
    text-align: center;
}
.desdivtitle {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.desdivbody {
    min-height: 130px;
    border-top: 1px dashed rgb(199, 199, 199);
    border-bottom: 1px dashed rgb(199, 199, 199);
    margin-bottom: 5px;
}
.cardinfo {
    display: inline-block;
    font-size: 17px;
    line-height: 42px;
    margin: 0;
    font-weight: bold;
}
.cardbody {
    color: rgb(83, 83, 83);
    font-size: 13px;
    padding: 0 !important;
}
.listitem img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.usertitle {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 123, 255);
}
.userinfo2 {
    padding: 0 !important;
    font-size: 15px;
    color: rgb(79, 164, 255);
}
.localflex {
    display: flex;
}
.localflexname {
    display: inline-flex;
    width: 15%;
}
.localflexselected {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 85%;
    align-content: center;
    padding: 20px 0;
}