@charset "UTF-8";
::-webkit-scrollbar {
    display: none;
}
.searchtitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}
.searchjumbo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}
.searchjumbo p {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.localdiv {
    width: 100%;
    margin-bottom: 10px;
}
.searchjumbo ul {
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 10px 10px 0 10px;
    padding: 0;
}
.searchjumbo ul li {
    display: inline-block;
    color: black;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px 5px 0 0;
    width: 5.555%;
    box-sizing: border-box;
    padding: 6px 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgb(100, 97, 255);
    cursor: pointer;
}
.searchjumbo ul li:hover {
    border-top: 1px solid rgb(140, 203, 255);
    border-left: 1px solid rgb(140, 203, 255);
    border-right: 1px solid rgb(140, 203, 255);
    border-bottom: 1px solid transparent;
    color: rgb(140, 203, 255);
}
.localtext {
    display: inline-block;
    width: 100%;
}
.localtext:hover {
    font-weight: bold;
    animation: shake 0.25s 1;
}
.localclick {
    font-weight: bold;
    border: 1px solid rgb(100, 97, 255) !important;
    border-bottom: 1px solid transparent !important;
    color: blue !important;
}
hr {
    margin: 0 10px 10px 10px;
    padding: 1px 0;
    border: none;
    border-bottom: 1px solid rgb(216, 216, 216);
    clear: both;
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform:  rotate(-5deg); }
    100% { transform:  rotate(0deg); }
  }
.submitdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitp {
    margin: 0;
    padding: 3px 30px !important;
    text-align: center;
    color: white;
    background-color: rgb(79, 164, 255);
    border-radius: 15px;
    cursor: pointer;
}
.submitp:hover {
    background-color: rgb(0, 123, 255);
}
.listbox {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0 10%;
    justify-content: space-between;
}
.listitem {
    background-color: white;
    display: inline-flex;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgb(192, 192, 192);
    border: 3px solid transparent;
    border-radius: 25px;
    margin-bottom: 30px;
    cursor: pointer;
}
.listitem:hover {
    border: 3px solid rgb(182, 182, 182);
}
.listitem p {
    margin: 0;
    padding: 5px 0;
}
.imgdiv {
    display: inline-block;
    padding: 0 20px;
    margin: 20px 0;
    border-right: 1px solid rgb(209, 209, 209);
}
.desdiv {
    display: inline-block;
    text-align: left;
    padding: 0 20px;
    width: 210px;
}
.userinfo {
    display: inline-block;
    padding: 0;
    text-align: center;
}
.desdivtitle {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.desdivbody {
    min-height: 130px;
    border-top: 1px dashed rgb(199, 199, 199);
    border-bottom: 1px dashed rgb(199, 199, 199);
    margin-bottom: 5px;
}
.cardinfo {
    display: inline-block;
    font-size: 17px;
    line-height: 42px;
    margin: 0;
    font-weight: bold;
}
.cardbody {
    color: rgb(83, 83, 83);
    font-size: 13px;
    padding: 0 !important;
}
.listitem img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.usertitle {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 123, 255);
}
.userinfo2 {
    padding: 0 !important;
    font-size: 15px;
    color: rgb(79, 164, 255);
}
.localflex {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-content: center;
}

.searchjumbo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 80px;
}
.searchlist {
    display: inline-block;
    min-width: 300px;
    min-height: 60px;
    font-size: 13px;
    margin: 15px 30px 15px 30px;
}
.firstsearchlist {
    margin: 0 0 0 30px;
}
.boldtitle {
    font-size: 18px;
}
.btnbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 300px;
    min-height: 65px;
    flex-wrap: wrap;
}
.btnbox button {
    margin: 5px 5px 5px 5px !important;
}
.sliderbox {
    text-align: center;
    height: 100px;
}
.searchbtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    border: none;
    outline: none !important;
    font-weight: bold;
    font-size: 23px;
    color: white;
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 123, 255, 0.801);
    cursor: pointer;
}
.searchbtn:hover {
    background: rgb(0, 123, 255);
}
#day {
    background: none;
    width: 28px;
    height: 28px;
    outline: none !important;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 14px;
    cursor: pointer;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}
#day:hover {
    font-weight: bold;
}
#day.btnclicked {
    background: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}
#baby_age {
    margin: 0 5px;
    width: 72px;
    height: 45px;
    background: none;
    outline: none !important;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 7px;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}
#baby_age:hover {
    font-weight: bold;
}
#baby_age.btnclicked {
    background: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}
#care_type {
    width: 90px;
    height: 38px;
    background: none;
    outline: none !important;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 19px;
    margin: 0 5px;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}
#care_type:hover {
    font-weight: bold;
}
#care_type.btnclicked {
    background: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}

#baby_num {
    width: 70px;
    height: 30px;
    background: none;
    outline: none !important;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 15px;
    margin: 0 5px;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
}
#baby_num:hover {
    font-weight: bold;
}
#baby_num.btnclicked {
    background: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    color: white;
}

#workTime_start, #workTime_end {
    margin: 10px;
    background: rgb(0, 123, 255);
    color: white;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
}
#workTime_start option, #workTime_end option {
    height: 300px !important;
}
#sitter_age_from, #sitter_age_to {
    margin: 10px;
    background: rgb(0, 123, 255);
    color: white;
    padding: 0 10px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
}
#sitter_age_from option, #sitter_age_to option {
    height: 300px !important;
}
.btnbox p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 50px;
}

#hope_h_wage {
    -webkit-appearance: none;
    position: relative;
    width: 450px;
    height: 15px;
    opacity: 0.7;
    background: rgb(214, 214, 214);
    outline: none;
    border-radius: 7.5px;
}
#hope_h_wage::before {
    content: "8,350원";
    font-size: 13px;
    position: absolute;
    top: 20px;
    color: black;
}
#hope_h_wage::after {
    content: "15,000원";
    font-size: 13px;
    position: absolute;
    top: 20px;
    right: 0;
    color: black;
}
#hope_h_wage:hover {
    opacity: 1;
}
#hope_h_wage::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    background: white;
    border: 3px solid rgb(187, 187, 187);
    border-radius: 50%;
    cursor: pointer;
}
#hope_h_wage::-moz-range-thumb {
    width: 23px;
    height: 23px;
    background: white;
    border: 3px solid rgb(187, 187, 187);
    border-radius: 50%;
    cursor: pointer;
}
.hope_h_wage {
    font-size: 20px !important;
    font-weight: bold;
    color: grey;
}